[
    {mynet,[{cookie, snake},{name, 'snake_mynet@172.16.90.103'}, {world, 'snake_world@172.16.90.103'},{port, 8881}]},
    {scene,[{cookie, snake},{name, 'snake_scene@172.16.90.103'}, {world, 'snake_world@172.16.90.103'}]},
    {world,[{cookie, snake},{name, 'snake_world@172.16.90.103'}, {svr_num, "Svr:1"},{ip, "47.99.220.0"},{port,8881},{intranet,"47.99.220.0"},{redis_path,"127.0.0.1"},
	{redis_pwd,"021104040098"}, {dbhost, "127.0.0.1"}, {dbport, 3306}, {dbusr, "root"}, {dbpsw, "123456"}, {dbdatabase, "db_snake"},{dbcode, utf8}]}
].


